<!DOCTYPE html>
<html>

  <% include partials/pages/head.ejs %>

  <body class="content container">
    <nav class="navbar navbar-inverse">
      <% include partials/pages/navigation.ejs %>
    </nav>


    <div class="container">
      <% include partials/pages/slide.ejs %>
    </div>

    <h1 class="panel panel-header">...<i><%= title %></i></h1>



    <% include partials/pages/jsdefault.ejs %>


  </body>

  <div class="footer">
    <% include partials/pages/footer.ejs %>
  </div>

</html>
