@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css");

.float {
  margin-top: 8px;
  margin-left: 100px;
}

.right {
  margin-right: 12px;
}

.medium {
  width: 100%;
  height: 570px;
}

.radius {
  border-radius: 8px;
}

.font {
  font-size: 20pt;
  font-family: "Time New Roman";
}

.down {
  margin-top: 8px;
}

.slider {
	width: 1024px;
	margin: 2em auto;

}

.slider-wrapper {
	width: 100%;
	height: 400px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}
