<div class="slider" id="main-slider"><!-- outermost container element -->
	<div class="slider-wrapper"><!-- innermost wrapper element -->
		<img src="/images/slide_show/mic_1.jpg" alt="First" class="slide" /><!-- slides -->
		<img src="/images/slide_show/mic_2.jpg" alt="Second" class="slide" />
		<img src="/images/slide_show/sound_proof.jpg" alt="Third" class="slide" />
    <img src="/images/slide_show/mixer.jpg" alt="Fourth" class="slide" />
	</div>
</div>
